body {
  font-family: "DMSerif";
  margin: 0;
  padding: 0; 
  background-image: rgb(0, 0, 0);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
}

#nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #000000;
  height: 66px;
}

#navbar{
  align-items: right;
}

.navbar {
  float: right;
  overflow: hidden;
  /* width:100%; */
}

.image {
  width: 600; 
  height: 600;
}

.navbar a {
  float: left;
  display: block;
  color: lightskyblue;
  text-align: right;
  padding: 20px 20px;
  text-decoration: none;
  flex-direction: row;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.section {
  padding: 50px;
  font-family: "Signi";
}


.container {
  display: inline-block;
}

.text{
  font-size: 30px;
  letter-spacing: 5px;
  font-family: monospace;
  border-right: 3px solid;
  width: 17%; 
  white-space: nowrap;
  font-family: "Signi";
  overflow: hidden;
  animation:
    typing 2s,
    cursor .4s step-end infinite alternate; 
}

.navbarr {
  font-size: 20px;
}
@keyframes cursor {
  50% {border-color: transparent}
}

@keyframes typing {
  from {width:0}
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: DMSerif;
  font-family: Signi;
  src: url(assets/DMSerifDisplay-Regular.ttf);
  src: url(assets/Signika-VariableFont_GRAD,wght.ttf)
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 77%;
  left: 69%;
  transform: translate(-1%, -1%);
}

ul li {
  list-style: none;
  margin: 0 13px;
}

ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #333;
  border-radius: 50%;
  font-size: 30px;
  color: #666;
  transition: .5s;
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #69c3e4;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px lightskyblue;
}

ul li a:hover {
  color: #6396b8;
  box-shadow: 0 0 5px #5a529e;
  text-shadow: 0 0 5px #3f2c8a;
}

#Name{
  padding-left: 60px;

}
#name{
  align-items: center;
}

.headerText {
  font-family: "Signi";
  font-size: 20px;
}

.auracircle {
  float: right;
  /* margin-right: 300px; */
  position: absolute;
  right: 310px;
  /* z-index: -1; */
  width: 40px;
  top: 290px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
    0 0 3cap 90px #fff,  /* inner white */
    0 0 110px 120px #f0f, /* middle magenta */
    0 0 150px 150px #0ff; /* outer cyan */
  animation: fadeIn 5s;
}

.pfp{
  clip-path: circle();
  width:350px;
  float: right;
  margin-right: 150px;
  position: absolute;
  right: 9px;
}

.custom-image-container{
  position: relative;

}

.linkedin{
  margin-top: 5px;
  translate: translate(20px, 300px);
}

.github{
  margin-top: 6.8px;
}

.email{
  margin-top: 6px;
}

#content{
  display:flex;
  width:40%;
  left:0;
  margin-left:5%;
  margin-top:7%;
  height:400px;
  justify-content: center;
  align-items:center;
  text-align:center;
  background-color: black;
  border: 1px solid black;
  border-radius: 12px;
  border-color: lightskyblue;
  animation: fadeIn 5s; 
}


#word{
  color:white;
}

.aboutblurb{
  font-family: "Signi";
  font-size: 35px;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.star{
  margin-right: 600px;
  width: 90px;
}

.line {
  border-bottom: 1px solid rgb(17, 17, 18);
  margin-top: 110px;
}

.homes{
  text-align: center;
  font-size: 30px;;
}

/*------------portfolio------------------*/

.portfolio{
  padding: 50px 0;
}

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work{
  border-radius: 10px; 
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
}

.row::after{
  content: "";
  clear: both;
  display: table;
  margin-left: 20px;
}

.column{
  float: left;
  width: 33.33%;
}



/* Footer */

.footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height: 15px;
  background-color: lightskyblue;
}

body {
  background-color: black;
  font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}